/* * {
    border: red solid;
} */

body {
    font-family: 'Roboto', sans-serif;
    margin: auto;
}

a {
    text-decoration: none;
}

.placeholder-txt {
    display: flex;
    align-items: center;
}

.header-logo {
    color: #f9faf8;
    font-size: 24px;
}

.hero-main {
    font-weight: bolder;
    color: #f9faf8;
}

#hero-txt {
    font-size: 48px;
}

.hero-secondary {
    font-size: 18px;
    color: #e5e7eb;
}

.card-sect {
    height: 100%;
    padding: 0 400px 100px 400px;
}

.card-one {
    background-color: #1f2937;
    padding-bottom: 100px;
}

.title-container {
    display: flex;
    height: 50px;
}

.navbar {
    display: flex;
}

.pushed {
    display: flex;
    list-style-type: none;
    display: flex;
    margin-left: auto;
}

li {
    margin-left: 5px;
}

.card-one-body {
    display: flex;
    flex: 1;
    gap: 2%;
    height: 300px;
}

.card-one-body>div {
    width: 50%;
}

.image {
    display: flex;
    background-color: #6D747D;
    justify-content: center;
    height: 100%;
}

.signup-btn {
    background-color: #3882f6;
    border: none;
    border-radius: 10px;
}

#card1-btn {
    padding: 1.25% 7%;
}

.card-two-head {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    /* padding: 50px 50px; */
}

.card-two-body {
    display: flex;
    justify-content: space-evenly;
    height: 100%;
    gap: 45px;
}

.img-card {
    height: 10em;
    width: 10rem;
}

.img-card-item {
    height: 150px;
    width: 150px;
    border: #3882f6 solid 5px;
    border-radius: 10px;
}

.img-capt {
    text-align: center;
    text-justify: inter-cluster;
}

.card-three {
    display: flex;
    padding-top: 100px;
    background-color: #e5e7eb;
}

.card-three-body {
    display: flex;
    flex-direction: column;
    padding: 0 55px;
}

.quote-text {
    color: #1f2937;
    font-weight: 100;
    font-size: 36px;
    margin-bottom: auto;
    text-align: justify;
    text-justify: inter-word;
}

.quote-author {
    font-weight: 400;
    font-size: 24px;
    text-align: end;
}

.card-four {
    display: flex;
    justify-content: center;
}

.call-container {
    display: flex;
    justify-content: space-between;
    background-color: #3882f6;
    border-radius: 9px;
    margin-top: 100px;
    padding: 30px 100px;
    height: 100px;
    width: 100%;
    gap: 20px;
}

.call-content {
    margin: auto;
}

.call-head {
    font-size: 24px;
}

.call-body,
.call-head {
    margin: auto;
}

.call-btn-div {
    margin: auto;
}

#card4-btn {
    border: white solid;
    padding: 10px 30px;
}

.foot {
    display: flex;
    justify-content: center;
    background-color: #1f2937;
    height: 80px;
}

.footer-txt {
    margin-top: 30px;
}